{{#if model}}
  <h3>Sites</h3>
  <ul>
    {{#each model as |site|}}
      {{#unless site.isNew}}
        <li>{{site.id}}. {{site.name}} {{#link-to 'sites.edit' site tagName='button'}}Edit{{/link-to}}</li>
      {{/unless}}
    {{/each}}
  </ul>
{{else}}
  No sites
{{/if}}
{{link-to "New" "sites.new" tagName="button"}}
