<form>
    Body {{input value=model.body}}
    Site ???
  {{#unless model.isNew}}
      <button {{ action "delete" model }} class="error">Delete</button>
  {{/unless}}
    <button {{ action "cancel" model }} class="warning">Cancel</button>
  {{#if model.hasDirtyAttributes}}
      <button {{ action "save" model }} class="success">Save</button>
  {{/if}}
</form>