{{#if model}}
  <h3>Comments</h3>
  <ul>
    {{#each model as |comment|}}
      {{#unless comment.isNew}}
        <li>{{comment.id}}. {{comment.body}} {{#link-to 'comments.edit' comment.id tagName='button'}}Edit{{/link-to}}</li>
      {{/unless}}
    {{/each}}
  </ul>
{{else}}
  No comments
{{/if}}
{{link-to "New" "comments.new" tagName="button"}}
