{{#if model}}
  <h3>Posts</h3>
  <ul>
    {{#each model as |post|}}
      {{#unless post.isNew}}
        <li>{{post.id}}. {{post.title}} {{#link-to 'posts.edit' post.id tagName='button'}}Edit{{/link-to}}</li>
      {{/unless}}
    {{/each}}
  </ul>
{{else}}
  No posts
{{/if}}
{{link-to "New" "posts.new" tagName="button"}}
